@import url("../css/style.css");

.perfil-container .container-geral {
    border-radius: var(--border-radius-sm);
    min-height: 90vh;
}

.img-container-geral .banner-container img {
    width: 100%;
    height: 375px;
}

.img-container-geral .img-container {
    position: relative;
    display: flex;
    padding: 0px var(--padding-lateral);
    margin-bottom: 120px;
}

.pedidos-container {
    background-color: transparent;
    width: 95%;
    height: 500px;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -40%);
    display: flex;
    gap: 20px;
    z-index: 99;
}

.pedidos-container .menu-column,
.pedidos-container .content-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pedidos-container .menu-column {
    width: 25%;
    gap: 15px;
    justify-content: space-between;
}

.pedidos-container .content-column {
    background-color: var(--cinza-claro);
    border-radius: var(--border-radius-sm);
    width: 88%;
}

.pedidos-container .menu-column .menu-item,
.pedidos-container .content-column .content-item {
    width: 100%;
    background-color: var(--cinza-claro);
    border-radius: var(--border-radius-sm);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
}

.pedidos-container .menu-column .menu-item {
    height: 90px;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
}

.menu-column .menu-item::before {
    content: '';
    background-color: var(--vermelho);
    height: 80%;
    width: 4px;
    border-radius: var(--border-radius-sm);
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    display: none;
}

.menu-column .menu-item.active::before {
    display: flex;
}

.pedidos-container .menu-column .menu-item:nth-child(1) {
    height: 110px;
}

.menu-item .icon-menu-img,
.menu-item .icon-menu,
.menu-item .text-menu,
.menu-item .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

.menu-item .text-menu {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.menu-item .text-menu span {
    font-weight: bold;
}

.pedidos-container .content-column .content-item-container {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-sm);
    padding: 20px;

}

.content-column .order-list-container {
    margin-block: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: none;
    overflow: auto;
    padding: 5px;
    align-items: flex-start;
    height: 400px;
    border-radius: var(--border-radius-sm);
}

.order-list-container .empty-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column .order-list-container .pedido-item {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: var(--border-radius-sm);
    padding: 20px;
    width: 100%;
}

.pedido-item-header {
    width: 100%;
    border-bottom: 1px solid var(--border-light-gray);
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pedido-item-header h4,
.pedido-item-header span {
    color: var(--verde);
}

.pedido-item-header h5 {
    color: var(--cinza);
}

.pedido-item-body .img-container img {
    height: 70px;
    width: 70px;
}

.pedido-item-body,
.pedido-item-body .text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pedido-item-body {
    margin-top: 20px;
}

.pedido-item-body .pedido-unidade {
    display: flex;
    gap: 20px;
}

.pedido-unidade .text-container {
    justify-content: center;
}

.pedido-item-body .total-container {
    margin-top: 10px;
}

.pedido-item-body .total-container span {
    font-weight: bold;
}

.content-column .gift .card-container,
.content-column .credit .card-container,
.content-column .address .card-container {
    width: 100%;
    height: 90%;
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 5px;
    margin-top: 20px;
}

.content-column .gift .card-container .card,
.content-column .credit .card-container .card,
.content-column .address .card-container .card {
    width: 430px;
    height: 250px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gift .card-container .card .card-header,
.credit .card-container .card .card-header,
.address .card-container .card .card-header {
    border-bottom: 1px solid var(--border-light-gray);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gift .card-container .card .card-body,
.credit .card-container .card .card-body,
.address .card-container .card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    line-height: 20px;
}

.card-container .card .card-body .body-col2,
.card-container .credit .card-body .body-col2 {
    text-align: end;
}

.gift .card-container .card .card-code,
.credit .card-container .card .card-code {
    background-color: var(--cinza);
    color: var(--cinza-claro);
    padding: 15px;
    margin-bottom: 10px;
}

.content-column .credit .card-container .card,
.content-column .address .card-container .card {
    color: var(--preto);
}

.credit .card-container .card .card-header {
    height: 50px;
}

.credit .card-container .card .card-header p {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 5px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: .8s all;
}

.credit .card-container .card .card-header p:hover {
    transition: .4s all;
    transform: scale(1.02);
}

.credit .card-container .img-container img {
    width: 45px;
    height: 30px;
}

.credit .card-container .card .card-code {
    display: flex;
    justify-content: center;
}

.content-column .address .card-container {
    justify-content: center;
}

.address .card-container .card-body .body-col1 {
    width: 250px;
    line-height: 20px;
}

.address .enderecoPrincipal {
    display: flex;
    gap: 10px;
    justify-content: baseline;
    margin-block: 15px;
}

.address .enderecoPrincipal input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.address .enderecoPrincipal .estilo-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--verde);
    cursor: pointer;
    position: relative;
}

.address .enderecoPrincipal .estilo-radio:checked {
    background-color: var(--verde);
    border-color: var(--verde);
    color: #fff;
}

.address .enderecoPrincipal .estilo-radio:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.address .card-container .card .btn-container {
    display: flex;
    justify-content: space-between;
    color: var(--vermelho);
    font-weight: bold;
    font-size: 16px;
}

.address .card-container .card .btn-container p {
    width: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.modal {
    height: 150px;
    width: 350px;
}

.modal .modat-text-container {
    text-align: center;
    margin-top: 10px;
}

.content-item-container.hide {
    display: none;
}

.font-weight {
    font-weight: bold;
}