@import url("../css/style.css");

.perfil-container .container-geral {
    border-radius: var(--border-radius-sm);
    min-height: 90vh;
}

.img-container-geral .banner-container img {
    width: 100%;
    height: 375px;
}

.img-container-geral .img-container {
    position: relative;
    display: flex;
    padding: 0px var(--padding-lateral);
    margin-bottom: 120px;
}

.pedidos-container {
    background-color: transparent;
    width: 95%;
    height: 500px;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -40%);
    display: flex;
    gap: 20px;
    z-index: 99;
}

.pedidos-container .menu-column,
.pedidos-container .content-column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pedidos-container .menu-column {
    width: 25%;
    gap: 15px;
    justify-content: space-between;
}

.pedidos-container .content-column {
    background-color: var(--cinza-claro);
    border-radius: var(--border-radius-sm);
    width: 88%;
}

.pedidos-container .menu-column .menu-item,
.pedidos-container .content-column .content-item {
    width: 100%;
    background-color: var(--cinza-claro);
    border-radius: var(--border-radius-sm);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
}

.pedidos-container .menu-column .menu-item {
    height: 90px;
    cursor: pointer;
    justify-content: space-between;
}

.pedidos-container .menu-column .menu-item:nth-child(1) {
    height: 110px;
}

.menu-item .icon-menu-img,
.menu-item .icon-menu,
.menu-item .text-menu,
.menu-item .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

.menu-item .text-menu {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.menu-item .text-menu span {
    font-weight: bold;
}




.pedidos-container .content-column .content-item-container {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-sm);
    padding: 20px;

}

.content-column .order-list-container {
    margin-block: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-x: none;
    overflow: auto;
    padding: 5px;    
    align-items: flex-start;
    height: 400px;
    border-radius: var(--border-radius-sm);
}

.order-list-container .empty-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column .order-list-container .pedido-item {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: var(--border-radius-sm);
    padding: 20px;
    width: 100%;
    height: 190px;
}

.pedido-item-header {
    width: 100%;
    border-bottom: 1px solid var(--border-light-gray);
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pedido-item-header h4,
.pedido-item-header span {
    color: var(--verde);
}

.pedido-item-header h5 {
    color: var(--cinza);
}


.order-list-container .pedido-item ul li {
    box-shadow: 0;
}




.modal {
    height: 150px;
    width: 350px;
}

.modal .modat-text-container {
    text-align: center;
    margin-top: 10px;
}

.content-item-container.hide {
    display: none;
}